.extra {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    width: 300px;
    .about,
    .info {
        display: flex;
        flex-direction: column;
        margin: 55px 0 0 0;

        .about-header,
        .info-header {
            display: flex;
            align-content: flex-end;
            h3 {
                align-self: flex-end;
                font-family: 'Montserrat', sans-serif;
                font-size: 20px;
                font-weight: 600;
                color: $mainBlueColor;
                margin: 0 0 0 10px;
                letter-spacing: 2px;
            }
            .extras-icon {
                width: 30px;
                height: 30px;
                background-size: contain;
            }
        }
        .about-header {
            .questionmark {
                background-image: url(../assets/svg/extra/qm58_58.svg);
            }
        }
        .info-header {
            .exclamation {
                background-image: url(../assets/svg/extra/exl58_58.svg);
            }
        }
        .about-text,
        .info-text {
            text-align: justify;
            border-top: $extraBorder;
            color: $mainGrayColor;
            font-size: 14px;
            padding: 15px 0 0 0;
        }
    }
    .info {
        margin: 25px 0 0 0;
    }
    .tags {
        display: flex;
        flex-wrap: wrap;
        margin: 25px 0 0 0;
        .tag {
            background-image: url(../assets/svg/extra/tag.svg);
            background-repeat: no-repeat;
            background-size: contain;
            transform: rotate(45deg);
            height: 20px;
            width: 100px;
        }
    }
}
