.extra {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    width: 300px;
    .about,
    .info {
        display: flex;
        flex-direction: column;
        margin: 55px 0 0 0;

        .about-header,
        .info-header {
            display: flex;
            align-content: flex-end;
            h3 {
                align-self: flex-end;
                font-family: 'Montserrat', sans-serif;
                font-size: 20px;
                font-weight: 600;
                color: $mainBlueColor;
                margin: 0 0 0 10px;
                letter-spacing: 2px;
            }
            .extras-icon {
                width: 30px;
                height: 30px;
                background-size: contain;
            }
        }
        .about-header {
            .questionmark {
                background-image: url(../assets/svg/extra/qm58_58.svg);
            }
        }
        .info-header {
            .exclamation {
                background-image: url(../assets/svg/extra/exl58_58.svg);
            }
        }
        .about-text,
        .info-text {
            text-align: justify;
            border-top: $extraBorder;
            color: $mainGrayColor;
            font-size: 14px;
            padding: 15px 0 0 0;
        }
    }
    .info {
        margin: 25px 0 0 0;
    }
}
.tags {
    display: flex;
    flex-wrap: wrap;
    margin: 18px 0 0 0;
    font-family: 'Roboto', sans-serif;
    .tag {
        color: white;
        background: $mainBlueColor;
        display: inline-block;
        color: #fff;
        position: relative;
        font-size: 12px;
        padding: 3px 12px 3px 12px;
        margin: 7px 20px 0 0;
        text-decoration: none;
    }
    .tag::before {
        background: #fff;
        width: 6px;
        height: 6px;
        content: '';
        display: inline-block;
        border-radius: 20px;
        margin: 0 8px 1px 0;
    }

    .tag::after {
        display: inline-block;
        border: 10px solid;
        border-color: transparent transparent transparent $mainBlueColor;
        height: 0;
        width: 0;
        position: absolute;
        right: -20px;
        top: 0;
        content: '';
    }
    .tag:after::before {
        background: #fff;
        width: 6px;
        height: 6px;
        content: '';
        display: inline-block;
        border-radius: 20px;
        margin: 0 5px 1px 2px;
    }
}
