@media screen and (max-width: 1024px) {
    .navigation {
        .nav-links {
            height: 60px;
            li {
                margin: 0 auto;
            }
        }
    }
    #about,
    #info {
        display: block;
    }
    #about {
        position: absolute;
        left: 0%;
    }
    #info {
        position: absolute;
        right: 0%;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
    }
    .sticky + main {
        padding-top: 60px;
    }
    .about-btn,
    .info-btn {
        position: relative;
        div {
            background-size: cover;
            width: 60px;
            height: 60px;
        }
    }
    .about-btn {
        .about-icon {
            background-image: url(../assets/svg/tablet/qm58_.svg);
        }
    }
    .info-btn {
        .info-icon {
            background-image: url(../assets/svg/tablet/exl58_.svg);
        }
    }

    #about:target::after,
    #info:target::after,
    #about:hover::after,
    #info:hover::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        left: 50%;
        margin-left: -12px;
        bottom: -15px;
        box-sizing: border-box;
        border-width: 8px;
        border-style: solid;
        border-color: transparent transparent #96beeb #96beeb;
        z-index: 6;
        transform-origin: 0 0;
        transform: rotate(-45deg);

        box-shadow: -2px 2px 0px 1px rgba(198, 222, 250, 1);
    }

    .extra {
        display: none;
    }
    #tags {
        margin: 40px 0 -20px 0;
        justify-content: space-evenly;
    }
    main {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: '. content .';
        margin: 0 auto;
        width: 768px;
    }
    .about-wrapper-tablet {
        display: none;
        position: absolute;
        top: 113px;
        left: 0%;
        max-width: 848px;
        height: 120px;
        font-size: 14px;
        color: $mainGrayColor;
        margin-top: 50px;
        overflow: auto;
        padding: 20px 20px 35px 0px;
        .about-header-tablet {
            display: inline;
            background: rgba(198, 222, 250, 0.3);
            color: $mainBlueColor;
            position: relative;
            transform: rotate(-90deg);
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 18px;
            letter-spacing: 2px;
            top: -10px;
            left: -24px;
            padding: 25px 25px 0px 10px;
        }

        .about-text-tablet {
            position: relative;
            left: 0%;
            width: 100%;
        }
    }
    .info-wrapper-tablet {
        display: none;
        position: absolute;
        top: 113px;
        right: -17px;
        max-width: 848px;
        height: 120px;
        font-size: 14px;
        color: $mainGrayColor;
        margin-top: 50px;
        overflow: auto;
        padding: 20px 25px 35px 0px;
        .info-header-tablet {
            display: inline;
            background: rgba(198, 222, 250, 0.3);
            color: $mainBlueColor;
            position: relative;
            transform: rotate(-90deg);
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 17px;
            letter-spacing: 2px;
            top: -12px;
            left: 45px;
            padding: 20px 45px 0px 10px;
        }
        .info-text-tablet {
            position: relative;
            left: 20px;
            width: 100%;
        }
    }
    .blog-post {
        margin: 50px auto;
        width: 600px;
    }
    .blog-post-wrapper {
        display: flex;
        position: relative;
        justify-content: center;
    }
    .blog-post-social {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: -30px;
        .facebook-icon {
            fill: #3c5a98;
        }
        .gplus-icon {
            fill: #c25234;
        }
        .twitter-icon {
            fill: #00aced;
        }
        .vk-icon {
            fill: #48729e;
        }
        .yandex-icon {
            fill: #d83933;
        }
        .social-counter {
            top: -20px;
            left: 30px;
        }
    }
}

@media screen and (max-width: 830px) {
    .navigation {
        justify-content: flex-start;
        .nav-links {
            font-size: 18px;
            li {
                margin: 0 35px;
            }
            #about,
            #info {
                margin: 0 auto;
            }
        }
    }
}
