@media screen and (max-width: 1024px) {
    #about,
    #info {
        display: block;
    }
    #about {
        position: absolute;
        left: 0%;
    }
    #info {
        position: absolute;
        right: 0%;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
    }
    .sticky + main {
        padding-top: 60px;
    }
    .about-btn,
    .info-btn {
        position: relative;
        div {
            background-size: cover;
            width: 60px;
            height: 60px;
        }
    }
    .about-btn {
        .about-icon {
            background-image: url(../assets/svg/tablet/qm58_.svg);
        }
    }
    .info-btn {
        .info-icon {
            background-image: url(../assets/svg/tablet/exl58_.svg);
        }
    }

    #about:target::after,
    #info:target::after,
    #about:hover::after,
    #info:hover::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        left: 50%;
        margin-left: -12px;
        bottom: -15px;
        box-sizing: border-box;
        border-width: 8px;
        border-style: solid;
        border-color: transparent transparent #96beeb #96beeb;

        transform-origin: 0 0;
        transform: rotate(-45deg);

        box-shadow: -2px 2px 0px 1px rgba(198, 222, 250, 1);
    }

    .extra {
        display: none;
    }
    main {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: '. content .';
    }
}
